pkgbase = modlinq-git
	pkgdesc = Mod manager for Zenless Zone Zero, Wuthering Waves and Neverness to Everness
	pkgver = r6.967f969
	pkgrel = 1
	url = https://github.com/hugobugomugo/Modlinq
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = flutter
	makedepends = clang
	makedepends = cmake
	makedepends = ninja
	makedepends = pkgconf
	depends = gtk3
	depends = glib2
	depends = libx11
	provides = modlinq
	conflicts = modlinq
	source = git+https://github.com/hugobugomugo/Modlinq.git
	sha256sums = SKIP

pkgname = modlinq-git
